<h1>Twitter is what’s happening and what people are talking about right now.</h1><br><br>

<%= link_to "Back to the homepage", root_path %><br>
<%= link_to "Explore the Users", users_path %><br>
<%= link_to "Check out the most popular tweets", tweets_path %>