<h1> Happening Now! </h1>

<h3>Join Twitter today</h3>

<%= link_to "About", about_path %><br>
<%= link_to "Create a User", new_user_path %><br>
<%= link_to "Explore the Users", users_path %><br>
<%= link_to "Check out the most popular tweets", tweets_path %>